{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row p-4" style="background-color: brown;">
        <div class="col-sm-4" style="height: 200px; background-color: antiquewhite;">
            Mehran Noori
        </div>
        <div class="col-sm-4" style="height: 200px; background-color: blue; ">
            Mehranok Noori
        </div>
        <div class="col-sm-4" style="height: 200px; background-color: aqua;">
            Haj Mehran Noori
        </div>
    </div>
</div>

{% endblock content %}